extends email-layout

block content
  h2 SpikeForest Contact
  p From: #{options.firstName} #{options.lastName}
  p Email: #{options.email}
  p Affiliation: #{options.affiliation}
  br
  p Comment: #{options.feedback}
  br
  p ELABORATION IS A FORM OF POLLUTION